# macOS

.DS_Store

# Xcode

build/
.build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
Pods/
ObjectiveC.gcda
ObjectiveC.gcno

# Carthage

Carthage
Swizzlean.framework.zip

# Fastlane

fastlane/report.xml
fastlane/.env*private*
fastlane/test-output/
fastlane/test_output/
fastlane/README.md

# Jetbrains

.idea/